* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#home .img {
    background: url(img/bg-header.png) no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#home .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 860px;
    width: 100%;
}

#home .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

#home .carousel-caption p {
    font-size: 24px;
    margin-bottom: 60px;
}

#home .carousel-caption a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    color: #ffffff;
    border-radius: 24px;
    border: 2px solid #ffffff;
    padding: 14px 40px;
    transition: all 0.5s ease-in-out;
}

#home .carousel-caption a:hover {
    background: #00b6cb;
}

#home .carousel-indicators {
    margin-bottom: 10%;
}

#home span a {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
    transition: all 0.5s ease-in-out;
    opacity: 0.5;
}

#home span a:hover {
    color: #00b6cb;
    opacity: 1;
}

/* navbar */

.navbar {
    padding: 24px 0;
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.navbar ul li a {
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.5s ease-in-out;
    background: transparent !important;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: #00b6cb !important;
    background: none !important;
}

.navbar-toggle {
    border: 1px solid white !important;
    color: white !important;
    transition: all 0.5s ease-in;
}

.navbar-toggle:hover {
    background-color: #00b6cb !important;
}

.icon-bar {
    color: white !important;
    background-color: white !important;
}

.navbar-collapse {
    background-color: transparent !important;
}

.fixed-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 12px 0;
}

/*color section*/
#pricing,
#services{
    background-color: #edeff1;
}

/* header section*/

.header-section {
    margin-top: 65px;
    color: #576671;
    text-align: center;
}

.header-section h2 {
    font-size: 60px;
    letter-spacing: 1.5px;
}

.header-section p {
    font-size: 18px;
    letter-spacing: 0.45px;
}

.header-section hr {
    width: 30px;
    height: 1px;
    background: #17daa3;
    margin-left: auto;
    margin-right: auto;
}

/* koniec section header */

.body-section {
    margin-top: 60px;
    margin-bottom: 80px;
}

.body-section .header-our-about {
    position: relative;
    display: block;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease-in-out;
}

.body-section .header-our-about .background-out-about {
    position: absolute;
    width: 182px;
    height: 182px;
    background-color: #87949e;
    opacity: 0.20;
    border-radius: 50%;
}

.body-section .header-our-about span {
    text-decoration: none;
    font-size: 50px;
    color: #87949e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
}

.body-section .header-our-about:hover {
    background-color: #17daa3;
    cursor: pointer;
}

.body-section .header-our-about:hover span {
    color: white;
}

.our-about h3 {
    margin: 30px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.75px;
}

.our-about p {
    color: #87949e;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.45px;
}

/* button Alecto */

.btn-alecto {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    color: #ffffff;
    border-radius: 24px;
    background-color: #17daa3;
    border: 2px solid #17daa3;
    padding: 14px 40px;
    transition: all 0.5s ease-in-out;
}

.btn-alecto:hover {
    color: #17daa3;
    background-color: white;
    border: 2px solid #17daa3;
}

/* section work*/

#work {
    margin-top: 50px;
}

#map-section h2, #work h2 {
    font-size: 60px;
    color: #576671;
    line-height: 96px;
}

#map-section p, #work p {
    color: #87949e;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.45px;
}

#work-slider .img {
    background: url(img/slider-work.png) no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#work-slider .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 860px;
    width: 100%;
}

#work-slider .carousel-caption h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.75px;
}

#work-slider .carousel-caption p {
    color: #ffffff;
    font-size: 18px;
    line-height: 80px;
    letter-spacing: 0.45px;
    opacity: 0.3;
}

#work-slider .carousel-caption img {
    z-index: 2;
}

/* services items */

.services-item {
    padding: 0 8px;
}

.services-item span {
    float: left;
    font-size: 45px;
    color: #17daa3;
    line-height: 45px;
}

.services-single-content {
    margin-left: 80px;
    text-align: left;
}

.services-single-content h5 {
    color: #576671;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.services-single-content p {
    color: #87949e;
    font-size: 15px;
    line-height: 47px;
    letter-spacing: 0.45px;
}

/* margin styles*/

.section-margin {
    margin-top: 65px;
}


/*showcase-figure*/
.showcase-figure {
    list-style: none;
    width: 100%;
    height: auto;
}

.showcase-figure li {
    display: block;
    width: 20%;
    float: left;
    position: relative;
    text-align: center;
}

.showcase-figure li img {
    width: 100%;
    height: auto;
}

.showcase-figure li .figure-content {
    width: 100%;
    height: 100%;
    background-color: #17daa3;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: .5s ease-in;
}

.showcase-figure li .figure-content h5 {
    margin-top: 45%;
    font-size: 36px;
}

.showcase-figure li .figure-content:hover {
    opacity: 1;
    cursor: pointer;
}

/* pricing showcase */
#pricing{
    text-align: right;
}
.pricing-showcase {
    background-color: #ffffff;
    height: auto
}

.pricing-showcase .pricing-value {
    color: #17daa3;
    padding: 40px;
    text-align: left;
}

.pricing-showcase .pricing-value .currency {
    font-size: 60px;
}

.pricing-showcase .pricing-value .value {
    font-size: 50px;
}

.pricing-showcase .pricing-value p {
    opacity: 0.45;
    color: #87949e;
    font-size: 18px;
    letter-spacing: 0.45px;
}

.pricing-showcase .pricing-content {
    color: #87949e;
    font-size: 15px;
    line-height: 38px;
    letter-spacing: 0.45px;
    padding: 0 30px 40px;
    text-align: left;
}

.pricing-showcase a {
    display: block;
    width: 100%;
    color: #ffffff;
    border-radius: 5px;
    border: solid 2px #17daa3;
    background-color: #17daa3;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-decoration: none;
    transition: .5s ease-in;
    margin-bottom: 20px;
    
}
.pricing-showcase a p{
    float: left;
}

.pricing-showcase a:hover {
    color: #17daa3;
    border: solid 2px #17daa3;
    border-radius: 5px;
    background-color: white;
}

.map-img{
    width: 120%;
    height: auto;
}
#second-footer{
    background: url(img/slider-work.png) no-repeat;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#second-footer h2{
    color: white;
    font-size: 60px;
}
@media (max-width: 320px) {
    #home .carousel-caption {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
    }
    #home .carousel-caption h2 {
        font-size: 30px;
    }
    #home .carousel-caption p {
        font-size: 16px;
        line-height: 20px;
    }
    #home .carousel-caption a {
        font-size: 12px;
        padding: 10px 26px;
    }
    #home .carousel-indicators {
        margin-bottom: 30%;
    }
    #work-slider .carousel-caption {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
    }
    #work-slider .carousel-caption h2 {
        font-size: 18px;
    }
    #work-slider .carousel-caption p {
        font-size: 12px;
        line-height: 20px;
    }
    
    .services-item span {
        font-size: 35px;
    }
    .services-single-content h5 {
        font-size: 25px;
    }
    .services-single-content p {
        font-size: 12px;
        line-height: 20px;
    }
    .section-margin, .map-img {
        display: none;
    }
    
    .showcase-figure li {
        width: 50%;
    }
    .showcase-figure li .figure-content h5 {
        font-size: 24px;
    }


}